# 403 Forbidden for all directory indexes
Options -Indexes

# Add all files to the list of files to hide when listing a directory
IndexIgnore *

# URL Rewrite
RewriteEngine On
RewriteBase /CodeIgniter_2.2.0/
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]